@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .fontEstedad {
        font-family: 'Estedad';
    }

    .Estedad-vf {
        font-family: "Estedad-vf";
    }

    .bg-green-primary {
        background-color: #417F56;
    }

    .text-bg-primary {
        color: #417F56
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }

    input[type=number] {
        -moz-appearance: textfield;
    }

    .input {
        width: 45px;
        height: 45px;
        padding: 0;
        font-size: 24px;
        text-align: center;
        margin-right: 12px;
        text-transform: uppercase;
        color: #494949;
        font-family: "Estedad-vf";
        border: 1px solid #d6d6d6;
        border-radius: 4px;
        background: #fff;
        background-clip: padding-box;
      }
      
      .container {
        direction: ltr;
        padding: 16px;
        display: flex;
        justify-content: center;
      }
      

}